<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="powerbuy_productmaster_productmasters" frontName="powerbuy_productmaster_productmasters">
            <module name="Powerbuy_ProductMaster"/>
        </route>
    </router>
</config>
